# macOS and Xcode
.DS_Store
xcuserdata
Package.resolved
.swiftpm
.build/

# vscode
buildServer.json
.vscode

# Ruby/Bundler
fastlane/.bundle/
fastlane/vendor/
fastlane/Gemfile.lock

# mdBook
book/

# Fluidattacks scanner
fluidscan-results.sarif
